.flex-container{
    display: flex;
    justify-content: space-between;
    background-color:#f1f1f1;
    border-radius: 10px;
}
.flex-container > div{
    flex:1;
    background-color:#0a51cc ;
    color: #f1f1f1;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    font-size: 20px;
}
h1{
    font-size: 70px;
    text-align: center;
}
